.content-body {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.row-content { 
    display: 'flex';
    flex-direction: 'row';
    align-content: 'center';
    align-items: 'center';
}

.floating-action-btn {
    position: fixed;
    right: 5%; 
    bottom: 7%;
}